asn1crypto==0.24.0
backports.functools-lru-cache==1.6.4
cryptography==2.1.4
cryptoaddress==0.2.1
cycler==0.10.0
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
matplotlib==2.2.5
network==0.1
opencv-contrib-python==4.2.0.32
opencv-contrib-python-headless==4.2.0.32
pycrypto==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.6
pyxdg==0.25
requests==2.28.1
SecretStorage==2.3.1
six==1.16.0
subprocess32==3.5.4
